#header{
    background-color:red;
    font-size: 10px;
    font-weight: bold;
}
#episdoeSection{
    text-align: left;
    margin-left: 2px;
    margin-right: 100px;;
}

section::after {
    content: "";
    display: table;
    clear: both;
  }

  #episdoeSection {
    float: left;
    width: 30%;
    height: 450px; /* only for demonstration, should be removed */
    background: rgb(255, 192, 203);
    padding: 20px;
  }